 <div class="col-md-6 mb-4 product">
   <div class="card shadow h-100 py-2" [className]="'card shadow h-100 py-2 border-left-'+type">
     <div class="card-body">
       <div class="info" *ngIf="product.point">
         <p>Homme: {{product.point.homme}}</p>
         <p>Femme: {{product.point.femme}}</p>
         <p>CSP +: {{product.point.csp_plus}}</p>
         <p>CSP -: {{product.point.csp_moins}}</p>
         <p>-25 ans: {{product.point.moins_25}}</p>
         <p>-50 ans: {{product.point.moins_50}}</p>
         <p>+50 ans: {{product.point.plus_50}}</p>
       </div>
       <div class="row no-gutters align-items-center">
         <div class="col mr-2">
           <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">{{product.name}}</div>
           <div class="h5 mb-0 font-weight-bold text-gray-800">{{product.price}}€</div>
         </div>
         <div class="col-auto">
           <i class="fas fa-calendar fa-2x text-gray-300"></i>
         </div>
       </div>
     </div>
   </div>
 </div>
