<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Market</span>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col" style="text-align: center">
      <div class=" mb-4">
        <h1 class="h4 text-gray-800">Produits</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3 class="h4 text-gray-800">Produits stables</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <product *ngFor="let product of products" [type]="'primary'" [product]="product" (click)="selectProduct(product)">
      </product>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col">
      <h3 class="h4 text-gray-800">Produits flottants</h3>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <product *ngFor="let float of floats" [type]="'danger'" [product]="float" (click)="selectProduct(float)">
      </product>
    </div>
  </div>
</div>
