<nav class="navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">Market</span>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col" style="text-align: center">
      <div class=" mb-4">
        <h1 class="h4 text-gray-800">Produits</h1>
      </div>
    </div>
  </div>

  <div class="row" @products *ngIf="dom_ready && risk">
    <div class="col">
      <div class="card shadow mb-4 custom-card">
        <div class="card-header py-3">
          <h6 class="m-0 font-weight-bold text-primary">Risques encourus avec les sites d'e-commerce</h6>
        </div>
        <div class="card-body" style="text-align: center">
          <img src="./../assets/images/risk.jpg" width="100%" alt="">
          <button type="button" class="btn btn-danger" (click)="risk = false">Accepter les risques</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="dom_ready && !risk">
    <div class="" [className]="!numberClickedProduct?'col-12':' col-xl-8 col-md-7 '">
      <div class="row">
        <div class="col">
          <h3>Liste des produits</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <product @products *ngFor="let product of products" [type]="'primary'" [product]="product"
            (click)="selectProduct(product)">
          </product>
        </div>
      </div>


    </div>
    <div class="col-xl-4 col-md-5">
      <div @products class="row" *ngIf="numberClickedProduct>=3">
        <div class="col">
          <h3>Produit à l'honneur</h3>
        </div>
      </div>
      <div @products class="row" *ngIf="numberClickedProduct>=3">
        <div class="col">
          <product [product]="fav_product" [type]="'primary'"></product>
        </div>
      </div>
      <div @products class="row" *ngIf="numberClickedProduct">
        <div class="col">
          <h3>Produits Flottant</h3>
        </div>
      </div>
      <div @products class="row" *ngIf="numberClickedProduct">
        <div class="col">
          <product @products *ngFor="let float of floats" [product]="float" [type]="'danger'"
            (click)="selectFloatProduct(float)">
          </product>
        </div>
      </div>

    </div>
  </div>

</div>
